/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #363636;
  display: flex;
}

.hamburger {
  border: 1px solid #A4373D;
  width: 62px;
  height: 62px;
  background-color: #A4373D;
}

.title {
  font-size: 20px;
  color: white;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.side-box {
  border: 1px solid #A4373D;
  width: 10px;
  height: 62px;
  background-color: #A4373D;
  margin-left: auto;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #A4373D;
  display: flex;
  flex-direction: column;
}

ul.sidebarContents {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  line-height: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #3A401A;
  background-color: #E3DFD6;
}