nav {
  width: 100%;
  margin: 5px;
  max-width: 1000px;
}

.title {
  font-size: 2em;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.battle-royale {
  margin: 5px;
}

.ranked {
  margin: 5px;
}